/* .navlinks{
    display:block;
    float:left;
    width:150px;
    border: 2px solid black;
    background-color: black;
    font-size:24px;
    text-align: center;
    border-radius: 5px;
} */

li{
    list-style-type: none;
}


/* .entry{
    background-color: #c3c5d3;
    border: 2px solid #5F667A;
    border-radius: 10px;
} */

.navbar-text
{
    /* display: inline-block; */
    text-align: right;
}

.postbody{
    text-indent: 30px;
}
.errormessage{
    color:purple;
    font-weight: bold;
    font-size: 115%;
}