<!DOCTYPE html>
<html lang="en">
<head>
    <title>Blog</title>
    <!-- <link type="text/css" href="/static/style.css" rel="stylesheet"> -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
    
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <span class="navbar-text">
            {% if not session['username'] %}
            Please log in.
            {%else%}
                Hi, {{session['username']}}
            {%endif%}
        </span>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link" href="/">Home</a>
      <a class="nav-item nav-link" href="/blog">Blog</a>
      <a class="nav-item nav-link" href="/login">Login</a>
      <a class="nav-item nav-link" href="/signup">Create An Account</a>
      <a class="nav-item nav-link" href="/newpost">Add a Blog Entry</a>
      <a class="nav-item nav-link" href="/logout">Logout</a>
      
    </div>
  </div>
</nav>
<!-- <div class="loggedinstatus">
{% if not session['username'] %}
    Please log in.
{%else%}
    Hi, {{session['username']}}
{%endif%}
<form action="/logout" method="POST">
    <input type="submit" value="Log Out" />
</form>
</div> -->
    <h1>{{page_title}}</h1>
    <hr>

    {%with messages = get_flashed_messages() %}
    <ul>
    {%for message in messages%}
    <li class="errormessage">{{message}}</li>
    {% endfor %}
    </ul>
    {% endwith %}

    {% block content%}
    {% endblock %}
</body>
</html>