{%extends "base.html"%}

{% block content%}
    <div class="signup">
        <table>
        <form action="/signup" method="POST">
            <tr><td><label>User name: </td><td><input type="text" id="username" name="username" class="label" value='{{username}}'></label></td></tr>
            <tr><td><label>Password: </td><td><input type="password"  id="password" name="password" class="label"></label><p class="error"></td></tr>
            <tr><td><label>Confirm Password: </td><td><input type="password" id="confirm_password" name="confirm_password" class="label"></label><p class="error"></td></tr>
            <tr><td><input type="submit" value="Sign Up" /></td></tr>
        </form>
        </table>
    </div>

    <div class="signup">
        Form guidelines:
            <ul>
                <li>Must be more than 3 characters and less than 20.</li>
                <li>Cannot contain a space.</li>
                <li>Email address must contain a '@' and a '.' to be considered valid.</li>
            </ul>

    </div>

{% endblock %}